/*Body*/
body {
        font-family: Arial, sans-serif;
        font-size: 14px;
        color: #666;
        background-color: #fff;
        margin: 0;
}

div.container {
        min-height: 100vh;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
}

main {
        flex-grow: 1;
}

header > div,
main > div,
footer > div {
        padding-bottom: 2em;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
}

/*widget layout version*/
/* div.main-content {
padding-bottom: 2em;
width: 70%;
float: left;
display: inline;
} */

/* div.widget-float {
flex-grow: 1;
margin-left: auto;
width: 85%;
} */

/*Header*/
nav ul {
        margin: 0;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
}

nav ul li {
        list-style: none;
        float: left;
        margin-right: 5px;
}

nav ul li a:link,
nav ul li a:visited {
        display: block;
        padding: 10px 18px;
        border: 1px solid black;
        color: #fff;
        background-color: black;
        text-decoration: none;
}

nav ul li a:hover {
        background-color: gray;
        color: #000;
        border: 1px solid gray;
}

#home nav .home a,
#about nav .about a,
#contact nav .contact a {
        background-color: #fff;
        color: gray;
        border: 1px solid gray;
        border-bottom: none;
}

header {
        color: #000;
}

h1,
h1 a:link,
h1 a:visited {
        font-family: "Harrington", "Times New Roman";
        font-size: 50px;
        text-align: center;
        color: gray;
        text-shadow: 1px 1px 1px black;
        margin-bottom: 10px;
}

h5 {
font-family: "Bauhaus 93";
font-size: 20px;
text-align: center;
margin-top: 0;
}

.search-header {
float: right;
}

/*Footer*/
.logo {
position: relative;
left: 30px;
top: 30px;
margin-bottom: -100px;
width: 200px;
height: auto;
}

footer {
        background: black;
        color: #fff;
        padding-top: 2em;
}

footer p {
        color: #fff;
}

/*General Layout*/
img {
width: 432px;
height: auto;
}

blockquote {
color: black;
text-align: justify;
font-variant: small-caps;
font-style: oblique;
}

citation {
text-transform: capitalize;
text-align: left;
color: black;
font-size: 12px;
}

cite,
cite a:link,
cite a:visited {
text-decoration: none;
font-style: normal;
padding-bottom: .5em;
margin-bottom: 1em;
border-bottom: 3px dotted black;
line-height: 3em;
}

span {
color: gray;
}

a:link,
a:visited {
color: black;
}

p {
line-height: 1.65em;
color: #000;
margin-top: 20px;
}

h2 {
color: #000;
/* font-family: ""; */
font-size: 30px;
}

h3 {
font-family: "Times New Roman";
}

h5 {
color: #000;
font-weight: 200;
}

.top {
        position: fixed;
        bottom: 100px;
        right: 100px;
        border-radius: 10px;
        border: solid 2px black;
        border-style: dotted;
        padding: 0.15em .4em;
        background-color: rgb(255, 255, 255, 0.7);
        font-size: 20px;
}

.top:visited {
        color: black;
}

.top:hover {
        color: gray;
                border-color: gray;
        background-color: black;
}

.clearfix::after {
content: "";
display: table;
clear: both;
}

/*Optional Features*/
div.widget {
color: #000;
float: right;
width: 20%;
margin-right: 8%;
margin-top: 50px;
}

.widget-item h2 {
font-size: 16px;
}

.widget-item {
font-size: 12px;
border: 3px dotted gray;
margin-bottom: 15px;
}

.read-button {
margin-top: 20px;
padding: 10px 20px;
font-variant: small-caps;
font-weight: bold;
text-decoration: none;
font-size: 10px;
background-color: rgba(255, 201, 102, 0.8);
}

a:link.read-button,
a:visited.read-button {
color: #000;
}

img.avatar {
width: 26px;
height: 26px;
border-radius: 100%;
}

ul.post-categories,
.post-categories li {
list-style: none;
display: inline;
padding: 0;
}

hr {
width: 60%;
border-color: gray;
opacity: 0.5;
margin-top: 50px;
margin-bottom: 30px;
clear: both;
}

/* comments */
/* #respond {
clear: both;
padding-top: 50px;
}
.comment-reply-title {
color: #000;
font-size: 14px;
margin-top: 0;
}
.comment-form-comment label {
display: block;
}

.form-submit input {
padding: 10px 20px;
background-color: rgba(255, 201, 102, 0.8);
color: #000;
font-variant: small-caps;
font-weight: bold;
border: none;
}

.comment-form-comment textarea {
width: 100%;
border-color: rgba(0, 0, 0, 0.3);
}

#email-notes {
color: black;
} */

/*Home*/
div.grid {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        flex-direction: row;
        flex-wrap: nowrap;
}

div.grid img {
        border: 5px, black, solid;
        border-radius: 100%;
        width: 100px;
        height: 100px;
}

/* div.abs-dropdown {
position: absolute;
top: 0;
width: 100%;
text-align: center;
}

select#cat {
width: 60%;
border-color: rgba(153, 221, 255, 0.5);
padding: 10px 20px;
margin-top: 50px;
clear: both;
} */

.shop div.flex-item {
width: 26%;
height: auto;
text-align: center;
margin-top: 20px;
padding-top: 25px;
padding-bottom: 25px;
}

.shop .flex-item img.wp-post-image {
width: 100%;
height: auto;
padding: 0;
float: none;
}

.shop .flex-item h3 {
color: #000;
}

/*Product*/
/* .single-products div.thumbnail-column img.wp-post-image {
width: 50%;
height: auto;
float: left;
} */

/*Search*/
/* .search img.wp-post-image {
width: 150px;
height: auto;
float: left;
padding-right: 20px;
margin-bottom: 50px;
}

div.product-search {
float: left;
}

.product-search h3 {
margin-top: 0;
} */

/*searchform.php*/
/* .custom_search_form #searchsubmit {
padding: 10px 20px;
background-color: gray;
border: 1.5px solid gray;
color: #000;
font-weight: bold;
}

.custom_search_form input[type="submit"]#searchsubmit:hover {
padding: 10px 20px;
color: black;
border: 1.5px solid black;
font-weight: bold;
background-color: #fff;
}

.custom_search_form #s {
padding: 10px 20px;
border: 1px solid rgba(153, 221, 255);
} */

/*404*/
/* .error404 h2 {
font-family: "Satisfy", "Poiret One", "Times New Roman";
}

.error-title {
font-size: 25px;
font-variant: small-caps;
font-weight: bold;
font-family: "Harrington";
text-align: center;
padding: 20px 10px;
display: block;
}

.error-single img.wp-post-image {
width: 100%;
height: auto;
}

div.error-single {
width: 20%;
}

div.error-posts {
display: flex;
align-content: space-between;
align-items: baseline;
justify-content: space-evenly;
} */