/*BODY*/
body {
    font-family: Leelawdee, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    margin: 0;
}

div.container {
    min-height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

nav > div,
main > div,
footer > div {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

/*HEADER*/
nav {
    clear: both;
}

nav ul {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

nav ul li {
    list-style: none;
    margin-right: 5px;
}

nav ul li a:link,
nav ul li a:visited {
    display: block;
    padding: 10px 18px;
    border: 1px solid black;
    color: #000;
    background-color: yellow;
    text-decoration: none;
    font-family: Leelawadee;
}

nav ul li a:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
}

#home nav .home a,
#about nav .about a,
#contact nav .contact a {
    background-color: #fff;
    color: grey;
    border: 1px solid yellow;
    border-bottom: none;
}

figure.logo {
    width: 50px;
    float: left;
    margin: 10px 0 0 3%;
}

.logo img {
    width: 100%;
}

h1,
h1 a:link,
h1 a:visited {
    font-family: "Harrington", "Times New Roman";
    font-size: 2.5em;
    text-align: center;
    color: red;
    text-shadow: 1px 1px 1px black;
    margin: 10px 3% 0 0;
    padding-bottom: 0.2em;
    animation-name: header;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    position: relative;
}

@keyframes header {
    0% {left: 800px; bottom: 50px;
        -moz-transform: skewX(10deg);
        -webkit-transform: skewX(10deg);
        -o-transform: skewX(10deg);
        -ms-transform: skewX(10deg);
        transform: skewX(10deg);}
    100% {left: 0px; bottom: 0px;
        -moz-transform: skewX(10deg);
        -webkit-transform: skewX(10deg);
        -o-transform: skewX(10deg);
        -ms-transform: skewX(10deg);
        transform: skewX(10deg);}
}

h1:hover {
    text-shadow: 0 0 10px yellow;
}

/*FOOTER*/
footer {
    background: yellow;
    color: #000;
    padding-top: 2em;
}

footer p {
    color: #000;
}

/*General Layout*/
a:link,
a:visited {
    color: black;
}

p {
    line-height: 1.65em;
    color: #000;
    margin-top: 1em;
}

h2 {
    color: #000;
    font-family: "Ink Free";
    font-size: 30px;
}


h5 {
    font-family: Handlee;
    color: #000;
    font-weight: 200;
    font-size: 1.4em;
    text-align: center;
    margin-top: 0;
}

address {
    text-align: center;
}

.top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    border-radius: 10px;
    border: solid 1px #000;
    padding: 0.3em 0.5em 0.4em 0.5em;
    background-color: rgba(255, 255, 0, 0.7);
    font-weight: bold;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    text-decoration: none;
    text-shadow: 0 0 1px yellow;
}

.top:visited {
    color: black;
}

.top:hover {
    -webkit-box-shadow: 0 0 25px 2px red;
    box-shadow: 0 0 25px 5px red;
}

/* Home */
#home h2 {
    margin-bottom: 0;
}

div.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    margin: -3em -4em -4em -3em;
    padding: 3em 4em 6em 3em;
}

div.flex figure {
    border: 5px red solid;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: 2em 2em 2em 0;
    transition-property: transform;
    transition-duration: 1.2s;
}

div.flex figure:hover {
    transform: scale(1.5) rotateY(360deg);
}

div.flex img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #fff;
}

div.flex figcaption {
    color: black;
    font-weight: bolder;
    text-align: center;
    margin: 0.5em;
    padding: 0.5em;
    background-color: #fff;
    border-radius: 100%;
}

@keyframes storeIcon {
    0% {transform: scale(2);}
    100% {transform: scale(2);}
}

/*About*/
#about figure {
    margin: 0;
}

#about img {
    width: 100%;
}

/*Contact*/
form {
    padding-bottom: 1em;
}

form div {
   margin: 1em;
   margin-bottom: 0;
}

fieldset {
    margin-top: 1.2em;
    margin-bottom: 1.5em;
}

legend {
    font-size: 1.2em;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
input[type=date] {
    width: 100%;
    padding: 1em;
    margin: 1em 0;
    border-radius: 5px;
    box-sizing: border-box;
}


input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=date]:focus {
    border: 3px solid red;
}

input[type=checkbox], input[type=radio] {
    margin: 1em;
}

select {
    width: 50%;
    padding: 1em;
    border-radius: 5px;
    border-style: dotted;
    outline: none;
}

select:focus {
    outline: 3px solid red;
}

input[type=submit],
input[type=reset] {
    width: initial;
    padding: 1em;
    margin: 1em;
    border-radius: 5px;
    color: #000;
    background-color: #fff;
}

input[type=submit]:hover,
input[type=reset]:hover {
    width: initial;
    padding: 1em;
    margin: 1em;
    border-radius: 5px;
    color: #000;
    background-color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0 0 25px 2px red;
    box-shadow: 0 0 25px 2px red;
}

@media (min-width: 526px) {
    /*HEADER*/
    figure.logo {
        width: 75px;
    }

    h1,
    h1 a:link,
    h1 a:visited {
        font-size: 3em;
    }

    nav {
        background-color: black;
        width: 100%;
        padding-bottom: 39px;
        padding-top: 25px;
    }

    nav ul li {
        float: left;
    }

    #home nav .home a,
    #about nav .about a,
    #contact nav .contact a {
        border-bottom: 2px solid #fff;
    }
}

@media (min-width: 935px) {
    /* BODY */
    nav > div,
    main > div,
    footer > div {
            width: 80%;
    }

    /* HEADER */
    nav {
        background-color: black;
        width: 100%;
        padding-bottom: 39px;
        padding-top: 25px;
    }

    nav ul li {
        float: left;
    }

    #home nav .home a,
    #about nav .about a,
    #contact nav .contact a {
        border-bottom: 2px solid #fff;
    }

    figure.logo {
        margin: 1px;
        width: 100px;
        float: left;
        margin-left: 10%;
    }

    .logo img {
        width: 100%;
    }
 
    h1,
    h1 a:link,
    h1 a:visited {
            font-size: 4em;
            margin-right: 20%;
    }

    /*General Layout*/
    .top {
        bottom: 75px;
        right: 100px;
    }

    /*Home*/
    div.flex {
        flex-wrap: wrap;
        overflow: hidden;
    }

    /*About*/
    div.grid {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 3em;
    }

    /*Contact*/
    form {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    input[type=date] {
        width: 50%;
    }
}